/* sticky header logo handling */

.tw-header-sticky #site-header {
	position: fixed !important;
}

body {
	transition: padding 0.15s;
}

body {
	padding-top: 80px;
}

html[data-scroll='0'] body.home {
	padding-top: 432px;
}

.tw-header-layout-stack .header-inner {
	flex-direction: row;
}

html[data-scroll='0'] .home.tw-header-layout-stack .header-inner {
	flex-direction: column-reverse;
}


.custom-logo {
	position: relative;
	top: 6px;
	height: 50px;
  padding: 5px 0 0!important;
}

html[data-scroll='0'] .home .custom-logo {
	height:100px;
	
}

.header-inner {
	padding: 0 0 2rem;
}

html[data-scroll='0'] .home .site-logo img {
	height: 300px;
	max-height: 35rem !important;
	/*padding: 10% 0 0;*/
}

#site-header {
	z-index: 100;
}

html[data-scroll='0'] body.home .header-inner {
	padding: 2.5rem 0 4.5rem;
}

.entry-header.has-text-align-center.header-footer-group {
	display: none;
}

.header-navigation-wrapper {
    height: 50px;
    margin-bottom: 10px;
}

.tw-header-sticky #site-header {
    transition: background-color 3010ms ease-out, border-color 3010ms ease-out, box-shadow 3010ms ease-out;
}
